/* Menu aberto */
@media screen  and (max-width: 990px){
    /* Menu */
    #menuItens li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }

    /* Section 1 */
    .sec1{
        background-image: url(/Assets/img/Buzu\ por\ dentro.png);
        background-size: 100%;
        background-size:cover;
        background-position:center;
        

    }

    .titulo{
        font-size: 100px;
        font-weight: 600;
        letter-spacing: 20px;
        color: rgb(255, 255, 255);
        
    }
    .container1 {
        padding-top: 140px;
        padding-right: 150px;
    
    
    }
    .subtitulo{
        word-wrap: none;
        font-size: 40px;
        color: rgb(255, 255, 255);
        font-weight: 200; 
    }
    
    

}

