@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

/* Usar fonte: font-family: 'Darker Grotesque', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
}
body {
    /* Provisório, só para não queimar meus olhos com esse fundo branco */
        background-color: rgb(0, 0, 0)
}
#texto {
    padding-top: 20%;
    text-align: center;
    color: white;
}

/* MENU */
#Nav {
    padding: 20px 0px;
}

/* Elementos do MENU */ 
#menuItens li{
    margin: 0 2%;
    font-size: 25px;
    font-weight: 400;
}

/* Testandp protótipo no site */

/* Section 1 */
.sec1{
    height: 50vh;
    background-image: url(/Assets/img/Buzu\ por\ dentro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}


.titulo{
    position: absolute;
    top: 50%;      
    left: 50%;                  
    transform: translate(-50%, -50%);
    font-size: 130px;
    font-weight: 600;
    letter-spacing: 20px;
    color: rgb(255, 255, 255);
    
}
.container1 {
    padding-top: 125px;
    padding-right: 200px;


}
.subtitulo{
    word-wrap: none;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 200; 
}



/* Efeito de digitação */

.linha {
    color: rgb(246, 246, 246);
    border-right: 1px solid rgb(228, 0, 0);
    overflow: hidden;
    margin:  0 auto;
    white-space: nowrap;

}